@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=BBH+Sans+Bartle&display=swap");
:root {
  /* Surface thingys */

  --bg: #0b0f14; /* app background */
  --bg-muted: #0f1419; /* slightly lighter */
  --surface: #0e1216; /* main container */
  --card: #11161b; /* message bubble */

  /* Text */
  --text-primary: #e6eef8;
  --text-secondary: #a3b1c2;
  --text-faint: #6f7b86;

  /* Accent */
  --accent-500: #873cff;
  --accent-400: #3300aa;

  /* Borders / shadows */
  --border-1: rgba(255, 255, 255, 0.04);
  --shadow-1: rgba(2, 6, 23, 0.6);
  --overlay-1: rgba(255, 255, 255, 0.02);

  /* Sizes */
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 20px;
}


#morseCode {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 0.3em;
}
