<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Morse Code Chat</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=send"
    />
  </head>
  <body>
    <div class="container">
      <div id="main">
        <div class="header">
          <h1>Morse Code Chat</h1>
          <div class="header-right" onclick="MaskUserId()">Dev Mode</div>
        </div>

        <div class="chat-area">
          <div class="toggle-header">
            <div class="switch-container">
              <label class="switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
              </label>
            </div>
            <div id="modeLabel">Translation Mode</div>
          </div>
          <ul id="messages"></ul>
        </div>

        <div class="controls">
          <div class="controls-top">
            <textarea
              id="msg"
              autocomplete="off"
              placeholder="Type a message here..."
            ></textarea>
            <button onclick="sendMessage()">↪</button>
          </div>
          <div class="controls-bottom">
            <input
              id="dash"
              class="input-keyboard"
              type="button"
              value="-"
              onclick="inputKeyboard('-');"
            />
            <input
              id="dot"
              class="input-keyboard"
              type="button"
              value="."
              onclick="inputKeyboard('.');"
            />
            <input
              id="space"
              class="input-keyboard"
              type="button"
              value="␣"
              onclick="inputKeyboard(' ');"
            />
            <input
              id="slash"
              class="input-keyboard"
              type="button"
              value="/"
              onclick="inputKeyboard('/');"
            />
          </div>
        </div>
      </div>
    </div>
    <p class="footer" href="/morsecodetranslator">Morse Code Translator &#128279</p>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="..\static\chat.js"></script>
  </body>
</html>
