<!DOCTYPE html>
<html>
  <head>
    <title>Morse Code Example</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/example_translator.css" />
  </head>

  <body>
    <h1 class="header-big">Morse Code Translator Example</h1>
    <p>This is a simple example of Morse code translation.</p>

    <div class="container-label" id="container-label">
      <h3 id="englishLabel">English</h3>
      <h3 id="morseCodeLabel">Morse Code</h3>
    </div>

    <div class="container">
      <textarea
        id="inputText"
        rows="4"
        cols="50"
        placeholder="Type your message here..."
      ></textarea>

      <textarea id="morseCode" rows="4" cols="50" readonly></textarea>
    </div>

    <button class="switch" onclick="switchTranslation()">Switch</button>
    <script src="../static/translator.js"></script>
  </body>
</html>
